.label_container{
    display: flex;
    justify-content: space-between;
    padding-right: .5em;
}
.label_container * {
    font-size: .85em;
}
.label_container label{
    font-weight: bold;
}
.imput_error{
    color: red;
    font-size: .75em;
    padding-left: 1em;
}